* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
body {
    font-family: Arial, sans-serif;
    background-color: #e6e6e6;
}

.life {
    background: url("O.jpg") center/cover no-repeat;
    height: 180px;
    position: relative;
}

.top {
    background: rgba(0,0,0,0.5);
    height: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 10px black;
}

.cone {
    background: white;
    width: 80%;
    margin: 30px auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 5px 5px 10px black;
    text-align: center;
}

.cone h2 {
    margin-top: 20px;
    text-align: left;
}

.cone ul {
    margin-left: 20px;
    margin-top: 10px;
    text-align: left;
}


table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
    box-shadow: 5px 5px 10px black;
}

th, td {
    border: 2px solid black;
    padding: 8px;
    background-color: goldenrod;
    color: whitesmoke;
}

th {
    background-color: rosybrown;
    color: black;
}

footer {
    text-align: center;
    padding: 15px;
    color: gray;
    font-size: 18px;
}